* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100vh;
}
.virar-tela {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-message{
    width: 26%;
    height: 16%;
}
.virar-tela img {
    width: 80px;
    height: 80px;
}

#selec-button {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicia {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    font-size: 50px;
    box-shadow: 6px 6px;
}

#pt1 {
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container-foto {
    height: 90%;
    width: 54%;
    background-image: url(ft1.jpeg);
    background-attachment: scroll;
    background-size: 126%;
    background-position: center;
    position: fixed;
    top: 10%;
}

#pt1 h1{
    position: fixed;
    top: 0%;
    font-size: 221%;
    padding: 2%;
}
.options {
    width: min-content;
    height: 44%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60%;
    left: 7%;
    gap:5%
}
.options button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29%;
    width: 135%;
    padding: 7px;
    min-height: 60px;
}

#pt2 {
    display: none;
    width: 100%;
    height: 100vh;
    background-image: url(ft2.jpeg);
    background-size: 146vh;
    background-position: center;
    color: blue;
}
#pt2 h1{
    position: fixed;
    bottom: 0%;
    font-size: 10vh;
    padding: 2%;
}
.btn-pt2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 5%;
    height: 5%;
    top: 70%;
    padding: 1.2%;
}
#sim{
    left: 36%;
}
#no{
    left: 45%;
}

#pt3 {
    display: none;
    height: 100vh;
    width: 100%;
    background-image: url(ft3.png);
    background-size: 100%;
}

@media (orientation:portrait){
    .virar-tela{
        display: flex;
    }
    #selec-button{
        display: none;
    }
    #pt1{
        display: none;
    }
    #pt2{
        display: none;
    }
    #pt3{
        display: none;
    }
}
